albumentations==1.4.13
protobuf==4.25.3
numpy==1.26.4         
pandas==2.2.2        
transformers==4.41.0
lmdb==1.2.1
timm==0.9.16
requests
ml-collections==0.1.1
pytorch-ignite==0.4.13
Pillow==9.4.0       
matplotlib
nlpaug==1.1.11
nltk==3.6.7
fastText==0.9.2
sentencepiece==0.1.99
hsemotion==0.3.0
diffusers==0.26.3
einops==0.8.0
mediapipe==0.10.21
onnxscript
albucore==0.0.13
tqdm
xformers==0.0.26.post1
loguru
